
* {

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  color: #1395FF;

}

.modal-open .row {

  filter: url('#blur');
  filter: blur(3px);

}

.ambience {

  background-color: #14171A;

}

body .img-responsive {

  border: 1px solid #1395FF;

}

.text-glow-blue {

  text-shadow: 1px 1px 6px #1395FF;

}

.text-glow-pink {

  text-shadow: 1px 1px 6px #FF1395;

}

.box-glow-blue {

  box-shadow: 1px 1px 6px #1395FF, 0px 0px 6px #1395FF;

}

.box-glow-orange {

  box-shadow: 1px 1px 3px #FF7D13, 0px 0px 6px #FF7D13;

}

.box-glow-orange-xtra {

  box-shadow: 1px 1px 6px #FF7D13, 0px 0px 9px #FF7D13;

}


/*section: header*/

header .row {

  max-height: 25%;
  margin: 0 0 0 0;
  padding: 2% 0 0 0;

}

header .col-md-6 {

  background-color: inherit;
  margin: 0 0 0 0;

}

.name-plate {

  padding: 0 0 0 0;



}

h1 {

  font-size: 333%;
  font-weight: 300;
  background-color: inherit;

}

h2 {

  font-weight: 300;
  font-size: 111%;
  margin: 0 0 0 0;
  background-color: inherit;

}

.logo {

  margin: 0 0 0 0;
  padding: 0 0 0 0;
  max-height: 128px;


}

.logo-box {

  padding: 0 0 0 0;

}

/*section: showcase*/
button {

  font-size: 120%;
  font-weight: 600;
  background-color: inherit;
  padding: 3% 0.24%;
  margin: 1%;

}

button:hover {

  box-shadow: 0px 0px 9px #FF7D13, 0px 0px 12px #FF7D13;
  text-shadow: 0px 0px 12px #1395FF;

}

button.science {

  border: 1px solid #FF7D13;

}

button.engineering {

  border: 1px solid #FF7D13;


}

button.programming {

  border: 1px solid #FF7D13;

}

.jumbotron {

  background-color: inherit;

}

.showcase .jumbotron {

  padding: 0;
  border: 0 none;

}

.project {

  margin: 3% 0;

}



.showcase hr {

  border-top: 1px solid #FF7D13;

}

.showcase h3 {

  margin: 1% 0 3%;
  padding: 0;

}

.project h4 {

  color: #FF1395;
  text-shadow: 3px 3px 9px #FF1395;
  font-size: 231%;
  margin: 0 0 0 0;
  padding: 0.5% 0 0.5% 0;
  border: 1px solid #1395FF;
  background-color: #14171A;

}

.project a {

  font-size: 165%;
  text-decoration: none;
  font-weight: 300;
  color: #FF1395;
  text-shadow: 3px 3px 9px #FF1395;

}

/*section: modal*/

p {

  margin: 1% 0 0 0;

}
